-#%p= image_tag 'xmas71.jpg'

%dl.comments
  - @card.comments.each do |comment|
    = render partial: 'comments/comment', locals: { comment: comment }

-#= link_to 'Edit', edit_destination_card_path(@card)
\|
= link_to 'Back', destinations_path

%p
  &copy;
  = link_to nil, 'http://www.imagehearts.com/ip/'
