%p#notice= notice

%p= image_tag 'xmas71.jpg'



-#= link_to 'Edit', edit_destination_card_path(@card)
\|
= link_to 'Back', destinations_path

%p
  &copy;
  = link_to nil, 'http://www.imagehearts.com/ip/'
