%dt
  %a.reply_name{data: {type: 'text', resource: 'reply', name: 'name', emptytext: 'Enter your name', url: card_reply_path(card_id: reply.card.access_token, id: reply.id)}}<
    ~ reply.name
  = form_for reply, url: card_reply_path(card_id: reply.card.access_token, id: reply.id), method: :delete, html: { class: 'only_button', id: nil } do |f|
    = f.button 'Delete', confirm: 'Are you sure to delete?', class: 'delete'
%dd
  %a.reply_body{data: {type: 'textarea', resource: 'reply', name: 'body', emptytext: 'Enter reply', url: card_reply_path(card_id: reply.card.access_token, id: reply.id)}}<
    ~ reply.body_html
