%dt
  = image_tag comment.member.image_url
  = comment.member.name
  = form_for comment, method: :delete, html: { class: 'only_button', id: nil } do |f|
    = f.button 'Delete', confirm: 'Are you sure to delete?', class: 'delete'
%dd
  %a.comment_body{data: {type: 'textarea', resource: 'comment', name: 'body', emptytext: 'Enter your message', url: comment_path(comment)}}<
    ~ comment.body_html
