span.label.in_progress {
  @extend .label-warning;
}
span.label.ready {
  @extend .label-success;
}
span.label.sent {
  @extend .label-info;
}
button.in_progress {
  @extend .btn-warning;
}
button.ready {
  @extend .btn-success;
}
button.sent {
  @extend .btn-info;
}
.status_buttons {
  text-align: right;
  margin: 0;
}
form.only_button {
  display: inline;
}
button.create {
  @extend .btn;
  @extend .btn-primary;
}
button.delete {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-mini;
}
dl.messages button.delete,
dl.replies button.delete {
  @extend .pull-right;
}
